pandas
numpy
scikit-learn
scipy
pyarrow
fastparquet
matplotlib
seaborn
jupyter
ipykernel
python-dotenv
pyyaml
requests
httpx
sqlalchemy
psycopg2-binary
alembic
fastapi
uvicorn[standard]
pydantic
email-validator
python-multipart
pydantic-settings
pandera
xgboost
lightgbm
joblib
shap
imbalanced-learn
kafka-python
apache-airflow
prometheus-client
evidently
pytest
pytest-cov
black
isort
flake8
mypy
notebook
plotly